.layers{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.layers .layer{
    width: 100%;
    height: var(--container-size-26);

    border: var(--border);
    border-color: transparent;
    border-radius: var(--border-radius-6);

    display: flex;
    align-items: center;
    padding: 0 var(--spacing-10);

    transition: .2s ease background;
    margin-bottom: var(--spacing-2);

    cursor: pointer;
}
.layers .layer:last-child{
    margin-bottom: 0;
}

.layers .layer.selected, .layers .layer:hover{
    border: var(--border);
    background: var(--shade-3);
}
.layers .layer.selected p, .layers .layer:hover p{
    color: var(--tint-2);
}
.layers .layer.selected svg, .layers .layer:hover svg{
    fill: var(--tint-2);
}

.layers .layer svg{
    width: var(--text-size-7);
    height: var(--text-size-7);
    fill: var(--tint-4);
    margin-right: var(--spacing-8);
    transform: translateY(-2px);
}
.layers .layer p{
    font-size: var(--text-size-9);
    font-weight: 500;
    color: var(--tint-4);
    flex: 1;
    text-align: left;
}

.layers .layer .delete{
    opacity: 0;
    transition: .2s ease opacity;
}
.layers .layer:hover .delete{
    opacity: 1;
}